body {
    font-family: sans-serif;
    background-color: #E0E0E0;
}
#wrap {
    margin: 0 auto;
}

.button {
    background-color: #3B2E58;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

.dark-purple-fill {
  background-color: #3B2E58;
}
.light-purple-fill {
  background-color: #8661c5;
}

.icon-small {
  width: 50px;
  padding-bottom: 5px;
}

.icon-text-large {
  font-size: 100px;
}

.small-text {
  font-size: 16px;
}

.tiny-text {
  font-size: 12px;
}

.text-gray {
  color: gray;
}

.text-center {
  text-align: center;
}

#qrcode > img {
  margin: 0 auto;
  padding-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.green {
  color: #228B22;
}

#message {
  font-size: 1.5em;
}

.formField {
  margin-bottom: 10px;
}

.formLabel {
  display: inline-block;
  width: 100%;
  color: #777777;
  margin-top: 16px
}
.formInput {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

